::-moz-selection {
    background: rgba(0, 0, 0, 0.05);
    text-shadow: none;
}

::selection {
    background: rgba(0, 0, 0, 0.05);
    text-shadow: none;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-width: 410px;
}

#page {
    overflow-x: hidden;
}

.nav-menu .pop-menu {
    width: 220px;
}

.avatar-style-circle .user-avatar {
    box-shadow: none;
    background-color: white;
}

.blog-title > h1 {
    letter-spacing: -0.05em;
}

.blog-title > .sub-title a {
    margin-top: 20px;
    border-radius: 4px;
    padding: 20px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #e55c4e;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
}

.blog-title > .sub-title a:hover,
.blog-title > .sub-title a:focus {
    background-color: white;
}


#posts {
    max-width: none;
    padding-right: 0;
    padding-left: 0;
}

.photo {
    padding: 16px 10px 40px;
    background-color: white;
}
.photo .post-wrapper {
    max-width: 810px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
}

.post-wrapper {
    border-radius: 0;
}

.photo .post {
    overflow: hidden;
}

.photo .photo-wrapper,
.photo .photo-wrapper + .caption,
.photo .post-footer {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.photo .photo-wrapper,
.photo .photo-wrapper + .caption {
    height: 332px;
}

.photo .photo-wrapper {
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 16px;
    display: block;
    box-shadow: none;
}

.photo .photo-wrapper-inner {
    padding-top: 0;
    padding-bottom: 0;
    display: block;
}

.photo .photo-wrapper-inner > a {
    height: 298px;
    overflow: hidden;
}

.photo .photo-wrapper + .caption {
    border-top: 0;
    padding: 0;
}

/* Panel */
.photo .post-footer .post-date {
    display: none;
}

.photo .post-controls {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

.photo .post-controls > ul {
    border-radius: 4px;
    display: inline-block;
    float: none;
    background-color: white;
}

.post-controls li a,
.post-controls li .like_button {
    opacity: 0.1;
}

.codepen--xs {
    width: 400%;
    height: 400%;
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -o-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.codepen--s {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.attribution-tags {
    display: none !important;
}

footer .shout-out {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    color: white;
}

footer .shout-out a {
    border-bottom: 1px dotted;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    color: white;
    text-decoration: none;
}

footer .shout-out a:hover,
footer .shout-out a:focus {
    border-bottom-style: solid;
}

#footer-pagination {
    text-align: center;
}

#footer-pagination > * {
    border-radius: 2px;
    padding: 10px 20px;
    display: inline-block;
    background-color: white;
}

#footer-pagination > a {
    text-decoration: none;
}

#footer-pagination > a:hover,
#footer-pagination > a:focus {
    background-color: #f7f7f7;
}

figure:not(.high-res) img[src$='.gif'] {
    margin: 0;
}

@media (min-width: 830px) {
    .photo .photo-wrapper,
    .photo .photo-wrapper + .caption {
        width: 405px;
    }

    .photo .post-footer {
        width: 100%;
    }

    .photo .photo-wrapper {
        padding-right: 5px;
        padding-bottom: 4px;
        float: left;
    }

    .photo .photo-wrapper + .caption {
        padding-left: 5px;
        float: right;
    }
}



/* Collections */
.page--Collections .post {
    padding: 0;
    background-color: #E55C4E;
}

.page--Collections .post > h2 {
    display: none;
}

.page--Collections .post > h2 + .body-text {
    margin-top: 0;
}

.page--Collections .tabs {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid;
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;
}

.page--Collections .tabs .tab {
    margin-right: 5px;
    margin-bottom: -2px;
    display: inline-block;
}

.page--Collections .tabs .tab a {
    border: 2px solid #222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 20px;
    display: block;
    background: #fff;
}

.page--Collections .tabs .tab.is-active a {
    border-bottom-color: transparent;
    background-color: #afa;
}

.page--Collections .collection {
    border-bottom: 1px solid;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #222;
}

.page--Collections .collection:nth-child(1) { background-color: #afa }
.page--Collections .collection:nth-child(2) { background-color: #0cf }
.page--Collections .collection:nth-child(3) { background-color: gold }
.page--Collections .collection:nth-child(4) { background-color: #f43 }